<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smarttoni.dev_tool" >
    <application>
        <activity
            android:name="com.smarttoni.devtools.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="SmartToni DevTools"
            android:launchMode="singleTask"
            android:enabled="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
